<footer class="footer navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4">
      </div>

      <div class="col-sm-4 col-md-4" align="center">
        <div class="social" align="center" style="display:inline-block">
          <div class="ptext" style="font-size: 30px">
            <a href="https://www.facebook.com/brandon.wilmott" target="_blank">
              <i style="margin-left: 0px; color: rgb(169, 107, 182); float:left; font-size: 28px; padding-top: 5px;" class="fab fa-facebook-f"></i>
            </a>
            <a href="https://github.com/bwilm" target="_blank">
              <i style="color:rgb(169, 107, 182); padding-left:30px;" class="fab fa-github-alt"></i>
            </a>
            <a href="https://www.instagram.com/nihon_naygro/?hl=en" target="_blank">
              <i style="color: rgb(169, 107, 182); padding-left: 30px;" class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/bwilmott/" target="_blank">
              <i style="color: rgb(169, 107, 182); padding-left:30px;" class="fab fa-linkedin-in"></i>
            </a>

          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-4" align="center">
      </div>

    </div>
  </div>
</footer>
