<app-nav></app-nav>
<app-footer></app-footer>
<div id="fsModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <a class="signika" ng-href="#">
          <h1 id="myModalLabel" class="modal-title" style="color:#986d99"> bw.dev
            <a href="https://github.com/bwilm" target="_blank">
              <i class="fab fa-github" style="color:#986d99"></i>
            </a>
          </h1>
        </a>
      </div>
      <!-- header -->

      <!-- body -->
      <div class="modal-body modalBg">
        <h2 style="color: black">Web Development</h2>
        <p style="background-color:white; color:rgb(98, 80, 116); font-size: 20px">
          I mainly use Angular in my projects, some of my earlier work with Angular.js and later with Angular 7. This website was written
          with the latest version of Angular with Bootstrap as the UI. See some examples below.</p>
        <div class="row">
          <div class="col-sm-4">
            <div class="card card-default">
              <a href="https://github.com/bwilm/proximo" target="_blank"class="card-link">
                <span class="card-img">
                  <img src="../assets/images/proximo19.png" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Proximo' (Angular JS)</span>
                  <p>Proximo: Tinder for Food! A This project was a response to a tweet by the Canadian Prime Minister for a
                    need of a Tinder for Food. Uses a google maps API to locate the user and finds restraunts within a certain
                    distance and feeds photos to an Array, they are then marked with like or dislikes tags until the restraunt
                    ID and number of likes are met. User is presented with a match!
                  </p>
                </span>
              </a>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="card card-default" text-align="center">
              <div style="text-align: center" text-align = "center">
                  <video  align="center" width="320" height="240" controls>
                    <source src="../assets/images/fpmov.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
                  <video  align="center" width="320" height="240" controls>
                      <source src="../assets/images/webmov.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                    </video>
                </div>
                
                <span class="card-body">
                  <span class="h3 heading">UX/UI</span>
                  <p>Creating new website wireframes and apps using Adobe XD and the family of other Adobe products.</p>
                </span>

            </div>
          </div>

          <div class="col-sm-4">
            <div class="card card-default">

                <span class="card-img">
                  <img src="../assets/images/frameworks.png" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">FrameWorks and Languages</span>
                  <p> Angular, React, Swift, HTML, CSS, NodeJS, ASP.NET</p>
                </span>

            </div>
          </div>
        </div>
        <h2 style="font-size: 2em; color: black;">IOs Projects</h2>
        <div class="row">


          <div class="col-sm-4">

            <div class="card card-default">
              <a href="https://www.github.com/bwilm/coinScout" target="_blank" class="card-link">
                <span class="card-img">
                  <img src="../assets/images/coinscout19.png" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">Coinscout bitcoin tracker</span>
                  <p> Real Time bitcoin price tracker, pick the currency and see the latest trend in bitcoin pricing.</p>
                </span>
              </a>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-default">
              <a href="https://www.github.com/bwilm/justDoit" target="_blank" class="card-link">
                <span class="card-img">
                  <img src="../assets/images/justDoIt19.png" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">JustDoIt Todo app</span>
                  <p>A to do app that persist data onto the mobile device using Realm. Different color options and more.</p>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- body -->

      <!-- footer -->
      <div class="modal-footer">
        <button type="button" class="btn-primary" data-dismiss="modal">
          Go Back
        </button>
      </div>
      <!-- footer -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->


<div id="aboutModal" class="modal animated bounceIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <!-- dialog -->
  <div class="modal-dialog">

    <!-- content -->
    <div class="modal-content">

      <!-- header -->
      <div class="modal-header">
        <a class="signika" ng-href="#">
          <h1 id="myModalLabel" class="modal-title" style="color:#986d99"> about me
          </h1>
        </a>
      </div>
      <!-- header -->

      <!-- body -->
      <div class="modal-body aboutBg" align="center">
        <h2 style="color: white">Brandon Kyle W.</h2>
        <div class="row">
          <div class="col-sm-4" align="center">
            <div class="card card-default">
              <a href="#" class="card-link">
                <span class="card-img">
                  <img src="../assets/images/profilepicture.png" class="img-responsive">
                </span>
                <span class="card-body">
                  <span class="h3 heading">"Friends call me Bran"</span>
                  <p>The best time to take control of your life is right now, this was a revolutionary thought in my mind about
                    3 years ago before I became a software developer I decided I would utilize my talent for engineering
                    and design and create websites and applications for people to enjoy. Outside of work I love to travel
                    and find new places to eat. I havent found a cuisine yet that I havent enjoyed around the world!
                  </p>
                </span>
              </a>
            </div>
          </div>

          <div class="col-sm-4">
          </div>

          <div class="col-sm-4">
          </div>
        </div>
      </div>

      
      <!-- body -->


      <!-- footer -->
      <div class="modal-footer">
        <button type="button" class="btn-primary" data-dismiss="modal">
          Go Back
        </button>
      </div>
      <!-- footer -->

    </div>
    <!-- content -->

  </div>
  <!-- dialog -->

</div>
<!-- modal -->
